<div class="section-header section-header-secondary" i18n="@@contact">Kontakt</div>
<div class="container-secondary">
  <div class="main-width content">
    <div class="content-text">
      <div class="content-text-container">
        <div class="title">Christopher Kelter</div>
        <div class="subtitle" i18n="@@description">HTL Absolvent & Informatik Student</div>

        <mat-list>
          <mat-list-item>
            <mat-icon mat-list-icon>phone</mat-icon>
            <div mat-line class="about-list-title" i18n="@@phone">Telefon</div>
            <div mat-line><a href="tel:+436604643368">+43 660 46 43 368</a></div>
          </mat-list-item>

          <mat-list-item>
            <mat-icon mat-list-icon>alternate_email</mat-icon>
            <div mat-line class="about-list-title">Email</div>
            <div mat-line><a href="mailto:christopher@kelter.at">christopher@kelter.at</a></div>
          </mat-list-item>

          <mat-list-item>
            <mat-icon mat-list-icon>email</mat-icon>
            <div mat-line class="about-list-title" i18n="@@address">Adresse</div>
            <div mat-line>
              Ampfererstraße 36<br>
              6020 Innsbruck
            </div>
          </mat-list-item>

          <mat-list-item>
            <mat-icon mat-list-icon>cake</mat-icon>
            <div mat-line class="about-list-title" i18n="@@birthday">Geburtsdatum</div>
            <div mat-line>29.07.1996</div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>

    <div class="content-form">
      <form class="content-form-container" [formGroup]="formGroup">
        <div class="name-email">
          <mat-form-field >
            <input matInput formControlName="name" required>
            <mat-label i18n="@@form_name">Name</mat-label>
          </mat-form-field>

          <mat-form-field>
            <input matInput formControlName="email" required>
            <mat-label i18n="@@email">Email</mat-label>
          </mat-form-field>
        </div>


        <mat-form-field>
          <input matInput formControlName="subject" required>
          <mat-label i18n="@@form_subject">Betreff</mat-label>
        </mat-form-field>

        <mat-form-field>
          <textarea matInput rows="5" formControlName="message" required></textarea>
          <mat-label i18n="@@form_message">Nachricht</mat-label>
        </mat-form-field>

        <button mat-flat-button color="primary" [disabled]="!formGroup.valid" (click)="sendMessage()" i18n="@@form_send">Absenden</button>
      </form>
    </div>
  </div>
</div>

