<div class="container">
  <div class="content main-width">
    <div class="content-img">
      <img src="assets/profil_cut.jpg" alt="Christopher Kelter" title="Christopher Kelter"/>
    </div>
    <div class="content-text">
      <div class="content-text-container">
        <div class="title">Christopher Kelter</div>
        <div class="subtitle" i18n="@@description">HTL Absolvent & Informatik Student</div>

        <mat-list>
          <mat-list-item>
            <mat-icon mat-list-icon>phone</mat-icon>
            <div mat-line class="about-list-title" i18n="@@phone">Telefon</div>
            <div mat-line><a href="tel:+436604643368">+43 660 46 43 368</a></div>
          </mat-list-item>

          <mat-list-item>
            <mat-icon mat-list-icon>alternate_email</mat-icon>
            <div mat-line class="about-list-title" i18n="@@email">Email</div>
            <div mat-line><a href="mailto:christopher@kelter.at">christopher@kelter.at</a></div>
          </mat-list-item>

          <mat-list-item>
            <mat-icon mat-list-icon>email</mat-icon>
            <div mat-line class="about-list-title" i18n="@@address">Adresse</div>
            <div mat-line>
              Ampfererstraße 36<br>
              6020 Innsbruck
            </div>
          </mat-list-item>

          <mat-list-item>
            <mat-icon mat-list-icon>cake</mat-icon>
            <div mat-line class="about-list-title" i18n="@@birthday">Geburtsdatum</div>
            <div mat-line>29.07.1996</div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>
<!-- Social Media and Text -->
<div class="container-social-text">
  <div class="context-social main-width">
    <a href="https://www.linkedin.com/in/christopher-kelter-4a84531a4/" target="_blank" aria-label="Christopher Kelter | LinkedIN">
      <button mat-icon-button aria-label="Christopher Kelter | LinkedIN">
        <mat-icon svgIcon="linkedin"></mat-icon>
      </button>
    </a>

    <a href="https://www.xing.com/profile/Christopher_Kelter" target="_blank" aria-label="Christopher Kelter | XING">
      <button mat-icon-button aria-label="Christopher Ketler | XING">
        <mat-icon svgIcon="xing"></mat-icon>
      </button>
    </a>

    <a href="https://www.facebook.com/christopher.kelter" target="_blank" aria-label="Christopher Kelter | Facebook">
      <button mat-icon-button aria-label="Christopher Kelter | Facebook">
        <mat-icon>facebook</mat-icon>
      </button>
    </a>
  </div>

  <div class="main-width context-text">
    <h1 i18n="@@about_text_intro">Hallo, ich bin Christopher</h1>

    <p i18n="@@about_text_main">
      Ich bin seit meiner Jugend technikbegeistert und durch meinen Abschluss an der
      HTL Anichstraße habe ich meine Leidenschaft für die Informatik entdeckt.
      Daher studiere ich seit 2017 Informatik an der Universität Innsbruck. Derzeit befinde ich mich
      im Masterstudium Software Engineering mit der Vertiefung Software Security Engineering.
      <br><br>
      Neben meinem Studium engagiere ich mich ehrenamtlich als Studienvertreter, wo ich seit
      Juli 2021 Vorsitzender der Fakultätsstudienvertretung
      NatWi-Technik bin und daher alle Studierenden der Fakultäten für Biologie sowie Mathematik, Informatik und Physik vertrete.
      Außerdem gehe ich aufgrund meiner früheren Vereinstätigkeit gerne Schwimmen.
    </p>
  </div>
</div>
